<div class="container">
  <div class="justify-content-center" style="font-size: 30px; padding:20px">
    <button type="button" class="btn btn-outline-primary"
            (click)="changeLanguage('en')">English</button>
    <button type="button" class="btn btn-outline-warning"
            (click)="changeLanguage('vi')">Việt Nam</button>
    <button type="button" class="btn btn-outline-warning"
            (click)="changeLanguage('ko')">Korea</button>
<hr/>
    <button type="button" class="btn btn-secondary"
            (click)="getMessageNameBackend()">Get message name backend</button>
    <button type="button" class="btn btn-success"
            (click)="getMessageAgeBackend()">Get message age backend</button>
   <br/>
    <h1 translate="person.name"></h1>
    <h1  translate="person.age"></h1>
    <h1>{{'person.address'| translate}}</h1>
    <h1>{{'person.job'| translate}}</h1>
  </div>
</div>
